<!DOCTYPE html>
<html>
    <head>
        <title>timestamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body><br>
        <h1 class="text-center">API Basejump: Timestamp microservice</h1>
        <br>
        <div class="container" >
            <div class="jumbotron">
        <h2 >Enter the date in the url</h2>
        <br>
        <h4>
        <p > For sample try out the below links</p></h4><br>
        <h5>
        <p >
        <a  href="https://timestampms-snehal96.herokuapp.com/987654321">http://https://timestampms-snehal96.herokuapp.com/987654321</a>
        <br>
        <br>
        <a href="https://timestampms-snehal96.herokuapp.com/December%2015,%202015">http://https://timestampms-snehal96.herokuapp.com/December%2015,%202015</a>
        </p>
    </h5>
    </p>
</div>
        </div>
    </body>
</html>